/* --- General --- */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Console Drawer states */
.console--drawer-collapse {
    height: 0;
}

.console--drawer-expand {
    height: 50vh;
}

/* Tab states */
.invisible {
    display: none;
}

/* Map */
#map {
    /* Define height for map container */
    height: 100vh;
}


/* --- Search Bar Components --- */
.container-console {
    width: 350px;
    position: absolute;
    z-index: 314159;
    background-color: rgba(255,255,255,0.9);

    display: flex;
    flex-direction: column;
}

/* Search bar */
.console--search-bar {
    display: flex;
}

/* Search input field */
#txtSearch {
    flex: 1;
}


/* --- Console Drawer Components --- */
.container-console--drawer {
    display: flex;
    flex-direction: column;

    position: relative;
}
/* Console drawer */
.console--drawer {
    overflow-y: scroll;
    
    display: flex;
    flex-direction: column;
    transition: height 0.3s;
}

/* Autocomplete display box */
#autocomplete-box {
    background-color: aliceblue;
    top: 0;
    left: 0;
    max-height: 30vh;
    width: 100%;
    overflow-y: scroll;

    position: absolute;
}

/* Console drawer toggle button */
#btnToggleSearchDrawer {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Console drawer toggle button icon */
#btnToggleSearchDrawer i {
    font-size: 10px;
}