/* --- General --- */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* --- States --- */
/* States for console drawer */
.console--drawer-collapse {
    height: 0;
}

.console--drawer-expand {
    height: 75vh;
}

/* States for tab */
.invisible {
    display: none;
}

/* States for help form */
.slide-up {
    transform: translateY(0);
    transition: transform 0.3s;
}

.slide-down {
    transform: translateY(100%);
}

/* *** MOBILE SETTINGS (BELOW 768PX) *** */
/* --- Main --- */
.container-main {
    position: relative;
    overflow: hidden;

    height: 100vh;
    width: 100vw;
}

/* --- Search Console Components --- */
.container-console {
    z-index: 314160;
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    flex-direction: column;
    
    position: absolute;
    top: 20px;

    width: 95vw;
    left: 50%;
    transform: translateX(-50%);
    
    /* width: 400px; */
    /* left: 20px; */
}

/* --- Search Bar Components --- */
/* Search bar */
.console--search-bar {
    width: 100%;
    display: flex;
}

/* Search input field */
#txtSearch {
    flex: 1;
}

/* --- Console Drawer Components --- */
.container-console--drawer {
    width: 100%;
    display: flex;
    flex-direction: column;

    position: relative;
}

/* Console drawer */
.console--drawer {
    width: 100%;
    overflow-y: scroll;

    display: flex;
    flex-direction: column;
    transition: height 0.3s;
}

/* Console drawer toggle button */
#btnToggleConsoleDrawer {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Console drawer toggle button icon */
#btnToggleConsoleDrawer i {
    font-size: 10px;
}

/* Autocomplete display box */
#autocomplete-box {
    background-color: aliceblue;
    top: 0;
    left: 0;
    max-height: 30vh;
    width: 100%;
    overflow-y: scroll;

    position: absolute;
}

/* --- Map --- */
#map {
    height: 100vh;
    width: 100vw;
}

/* --- Map Buttons --- */
.container-map-button {
    z-index: 314159;
    position: absolute;
    bottom: 40px;
    right: 30px;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Location button */
.btn-map--location {
    color: white;
    background-color: grey;
    border-radius: 100%;
    width: 40px;
    height: 40px;
}

.btn-map--location:hover {
    color: white;
    background-color: rgb(110, 109, 109);
}

/* Help button */
.btn-map--help {
    color: white;
    background-color: orange;
    border-radius: 100%;
    width: 40px;
    height: 40px;
}

.btn-map--help:hover {
    color: white;
    background-color: rgb(238, 156, 5);
}

/* --- Help Form --- */
.container-help {
    background-color: rgba(255, 255, 255, 0.95);
    width: 400px;
    height: 70vh;
    z-index: 314159;

    position: absolute;
    bottom: 0px;
    right: 0px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#icon-close {
    font-size: 30px;
}

.form-asterisk {
    color: red;
}

.form-error-message {
    font-size: 12px;
    color: red;
}

/* *** MEDIUM SCREEN SETTINGS (768PX AND ABOVE) *** */
@media screen and (min-width: 768px) {

    /* --- Search Console Components --- */
    .container-console {
        width: 400px;
        top: 20px;
        left: 20px;
        transform: translateX(0);
    }

}

/* *** LARGE SCREEN SETTINGS (992PX AND ABOVE) *** */
@media screen and (min-width: 992px) {}