/* --- General --- */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Console Drawer states */
.console--drawer-collapse {
    height: 0;
}

.console--drawer-expand {
    height: 75vh;
}

/* Tab states */
.invisible {
    display: none;
}

/* Help form states */
.slide-up {
    transform: translateY(0);
    transition: transform 0.3s;
}

.slide-down {
    transform: translateY(100%);
}

/* --- Main --- */
.container-main {
    position: relative;
    overflow-y: hidden;
}

/* --- Search Bar Components --- */
.container-console {
    width: 40vw;
    z-index: 314159;
    background-color: rgba(255,255,255,0.9);
    
    display: flex;
    flex-direction: column;
 
    position: absolute;
    top: 20px;
    left: 20px;
}

/* Search bar */
.console--search-bar {
    display: flex;
}

/* Search input field */
#txtSearch {
    flex: 1;
}


/* --- Console Drawer Components --- */
.container-console--drawer {
    display: flex;
    flex-direction: column;
    
    position: relative;
}
/* Console drawer */
.console--drawer {
    overflow-y: scroll;
    
    display: flex;
    flex-direction: column;
    transition: height 0.3s;
}

/* Autocomplete display box */
#autocomplete-box {
    background-color: aliceblue;
    top: 0;
    left: 0;
    max-height: 30vh;
    width: 100%;
    overflow-y: scroll;
    
    position: absolute;
}

/* Console drawer toggle button */
#btnToggleConsoleDrawer {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Console drawer toggle button icon */
#btnToggleConsoleDrawer i {
    font-size: 10px;
}

/* --- Map --- */
#map {
    /* Define height for map container */
    height: 100vh;
}

/* --- Help Component --- */
#icon-help {
    font-size: 40px;
    color: orange;
    z-index: 314159;
    
    position: absolute;
    bottom: 40px;
    right: 30px;
}

.container-help {
    background-color: rgba(255,255,255,0.95);
    width: 400px;
    height: 70vh;
    z-index: 314159;

    position: absolute;
    bottom: 0px;
    right: 0px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#icon-close {
    font-size: 30px;
}

.form-asterisk {
    color: red;
}
